@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<ul>
    <li><a asp-page="Weather">Weather</a></li>
    <li><a asp-page="Fib">Fibonacci Numbers</a></li>
    <li><a asp-page="Cards">Play Cards</a></li>
</ul>
